@import "../../../../../styles/colors.scss";

.listWrap {
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: $white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    max-width: 300px;
    margin: 0;
    z-index: 9999;
}