$white: #FFF;
$black: #111;
$background: #F2F2F2;
$primary: #347ae3;
$primaryDark: #000C73;
$primaryLight: #BDD2FF;
$secondary: #1FC198;
$secondaryDark: #008A65;
$secondaryLight: #6BFBCE;
$disabledBackground: #CCC;
$disabledColor: #666;
$validColor: #008A65;
$validBackground: #6BFBCE;
$validBorderColor: #1FC198;
$invalidColor: #CC0038;
$invalidBackground: #FCE2E7;
$invalidBorderColor: #AD6878;
$cardHeaderColor: #56CCF2;
$grassColor: #a8e063;
$sunColor: #F9F871;
$eveSkyColor: #FF856E;